<body>
    <div id="login-form-container">
        <form action="predict" method="GET", style="text-align: center;">
            <div class="card" style="width: 400px">
            <div class="card-content">
                <div class="media">
                <div class="is-size-4 has-text-centered">Miles per Gallon Preciction</div>
                </div>
                <div class="content">

                <div class="field">
                    <p class="control">
                    Cylinders: <input class="input" type="number" name="cylinders" id="cylid">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Displacement: <input class="input" type="number"  name="displacement" id="disid">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Horsepower: <input class="input" type="number"  name="horsepower" id="horid">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Weight: <input class="input" type="number"   name="weight" id="weiid">
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                    Acceleration: <input class="input" type="number"  name="acceleration" id="accid">
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                    Model Year: <input class="input" type="number" placeholder="Last 2 digits fof the year ex: 90" name="model-year" id="myid">
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                    <label for="origin">Origin:</label>
                    <select id="oriid" name="origin">
                        <option value="1">India</option>
                        <option value="2">USA</option>
                        <option value="3">Germany</option>
                      </select>
                    </p>
                </div>
                
                <div class="field">
                    <button class="button is-fullwidth is-rounded is-success">Submit</button>
                </div>
                </div>
            </div>
        </form>
    </div>
</body>